*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
    overflow-x: hidden;
    
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.logo img{
    width: 130px;
    height: auto;
    padding: 5px;
    margin-left: 0vh;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    margin-top: 2vh;
}
.navbar li{
    list-style: none;
    padding: 0px 1vw;
}
.navbar li a{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
}
.navbar li a:hover{
    color: rgb(255, 0, 0);
    background-color: rgb(47, 194, 252);
}

.papermain{
    height: 80vh;
    text-align: center;
    background: url('photos/testpaperbg1.svg') no-repeat center center/cover;
}
.registerdown{
    margin-top: 45vh;
    background-color: rgb(49, 162, 255);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    padding: 15px 32px;
    text-align: center;
    border: 1px solid white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    }
.registerdown:hover{
    background-color:  #e42828;
    transition: .3s;
    box-shadow: rgb(49, 162, 255) 0px 0px 12px 0.3px;
}
.realregistration:hover{
    color: black;
    border: 1px solid rgb(49, 162, 255) ;
    box-shadow:#e42828 0px 0px 12px 0.3px;
    background-color: white;
}

 /* Section 2 */

.portal2{
    margin: 0px;
    padding: 0px;
    background: url('photos/mockpaperbg2.svg') no-repeat center center/cover;
    background-attachment: fixed;
}
#headportal2{
    display: flex;
    flex-direction: Row;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
}
#headportal2 h2{
    margin-top: 20px;
    font-size: 37px;
    font-family: 'Rubik', sans-serif;
}
#line2{
    margin:0px 10px;
    background-color: rgb(255, 43, 43);
    height: 5px;
    width: 250px;   
}

.testtypedivider{
    padding: 50px;
    
}
#paperdate{
    display: flex;
    flex-direction: row;
}
.datespecial{
    width: 15vw;
    height: 30vh;
    margin: 30px;
    margin-bottom: 20vh;
}
.papertype1{
    display: flex;
    line-height: 1.5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgb(93, 182, 255);
    border-top-left-radius: 15px;
    border-top-right-radius:15px;
    color: White;
    
}
.papertype1 h1{
    font-family: 'Rubik', sans-serif;
    color: rgb(8, 83, 168);
}
.papertype1 p{
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif; 
    
}
.papertype2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 131, 127);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;  
}
.papertype2 p{
    justify-content: center;
    text-align: center;
    line-height: 1.5;
}
.realregistration{
    background-color: #288fe4;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    margin-top: 4vh;
    padding: 7px 15px;
}

/* section3 */
*{
    margin: 0%;
    padding: 0%;
}
.sec3test{
    display: flex;
    flex-direction: row;
    background: url('photos/try.webp') no-repeat center center/cover ;
    justify-content: center;
    color: white;
    font-family: 'Baloo 2', cursive;
}

.contactandabout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logosm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contactus{
    text-align: center;
}
.aboutus a{
    text-decoration: none;
    color: black;
}
.marginclass {
    margin: 7vh 10vw;
    text-align: center;
}

.heading-font-size{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    
} 
.margin-beauty-smpage{
    margin:5px 10px;
}
#logoinpaperpage {
    width: 250px;
}

#fb {
    width: 35px;
    height: auto;
}

#insta {
    width: 35px;
    height: auto;
}

#twi {
    width: 35px;
    height: auto;
}

#yt {
    width: 35px;
    height: auto;
}
#foter h3{
    color: red;
    background-color: white;
    padding: 5px;
    font-size: 15px;
}
#foter{
    text-align: center;
    margin: 10px;
}
