*{
    margin: 0px;
    padding: 0px;
}
#test-form{
    height: 100vh;
    display: flex;
    align-items: center;
    background: url('photos/registrationbg.webp') no-repeat center center/cover;
}


.register {
    background: rgb(113, 222, 255);
    border-radius: 1.5rem;
    text-align: center;
    width: 30vw;
}
.Registerbtn{
    width: 20vw;
    padding: 5px;
    border: 1px solid red;
    border-radius: 8px;
}
.row{
    padding: 20px;
}

.btnSubmit{
    cursor: pointer;
    background-color: rgb(255, 153, 0);
    color: white;
    font-size: 20px;
    font-family: 'Merriweather', serif;
}
#foter h3{
    color: red;
    background-color: white;
    padding: 5px;
    font-size: 15px;
}
#foter{
    text-align: center;
    margin: 10px;
}
